# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options directory
.vs/

# Test results
[Tt]est[Rr]esult*/

# NuGet packages
*.nupkg
**/packages/*
!**/packages/build/

# Rider
.idea/

# VS Code
.vscode/
